.body {
  
  /*background-color: rgb(66,11,11);
  background-color: rgb(4, 20, 61);*/
  background-color: #894242
}
/****************************Barra de navegación*******************************/
.menu-container {
	background-color: rgba(255,255,255,.8);
  padding:5px;
  margin-bottom: 5px;
  
}

.formularioLogin{
  width: 350px;
  padding: 2px;
  margin:0;

}
#navMenu{
max-height: 70px;

}



#login-nav input { margin-bottom: 15px; }

/****************************Barra de navegación*******************************/


/*******************************Página de inicio*********************************************************************************************/
input.form-control-index {
	border-color: #457a8a;
}
.carruselContainer {
  margin-top: 70px;
	width: 100%;
  
}
.imgPracticas {
	margin: 0 auto;
}
.presentacion {
  color: white;
  width: 100%;
}

/********************************************* sección librería ********************************/
.caracteristicas, .caracteristicas i, .caracteristicas h3, .caracteristicas .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;    
}
.caracteristicas {
    background:#FFFFFF;
    text-align:center;
    padding:30px;
    border: solid 1px #cccccc;
    margin:45px;
    left: 30px;
    border-radius: 50px;
}
.caracteristicas p {
    margin-top:20px;   
    margin-bottom:25px;   
}
.caracteristicas i{
    font-size:100px;
    color:#FFFFFF;
    background:#1E825F;
    padding:20px;
    border-radius:30%;
    border: solid 3px #1E825F;
}
.caracteristicas h3 {
  padding-top: 10px;
  color:#800000;  
}
.caracteristicas:hover {
    
    background:#F5F5F5;
    -webkit-transform: translate(0,1em);
    -moz-transform: translate(0,1em);
    -o-transform: translate(0,1em);
    -ms-transform: translate(0,1em);
    transform: translate(0,1em);    
}
.caracteristicas:hover i{
    color:#1E825F;
    border-color:#1E825F;
    background:#000000;
}
.caracteristicas:hover .title_border {
    background-color:#1E825F;
    width:60%;
}
.caracteristicas .title_border {
    width: 0%;
    height: 3px;
    background:#1E825F;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}
/************************************ fin de sección librería ***************************/


/****************************************** footer *************************************/

.formulario {
  padding-top: 10px;
  color: white;
}
.search-text{
  
  background-color: #272d33;
  padding-top:10px;
  padding-bottom:40px;
  padding-left: 500px;
  padding-right: 490px;
} 
.search-text .input-search{
  height:45px;
  width:100%;
  padding-left:20px;
  color:#333;
  margin-bottom: 10px;
} 
.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
  color:#FFF;
  height: 45px;
    width: 80px;
    text-align: center;
}
.search-text h4{
    color: #FFF;
    font-weight: 700;
    text-align: center;
}
footer{
     background-color: #33383c;
     padding:30px 0px;
}        
.logo{
    color:#FFF;
    font-weight:800;
    font-size:30px;
}

.footerFormulario span , .footerMenu span{
   color: #FFF; 
   font-weight: 800; 
   border-bottom: 1px solid #c7c7c7; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.footerFormulario li a , .footerMenu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:12px;
}

.footerFormulario li, .footerMenu li{
    margin-top: 5px;
    list-style: none;
}

.footerFormulario li a:hover , .footerMenu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:14px;
}

/*********************************************Fin footer *************************************/

/******************************************** Fin pagina de inicio ***********************************************************************************/


/********************************************** Página Prácticas ***********************************************************************************/

/*sección de introducción a prácticas*/
.introPracticas {  
  color: white;
  padding-bottom: 30px;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,.3);
  box-shadow: 3px 3px 10px #888888;
}
.introPracticas h3{
  font-size: 35px;
}
.introPracticas p{
  color: white;
  font-size: 18px;
}

.elementosPatronesProcesos {
  /*background-color: rgba(0,0,0,.3);*/
  color: white;
  padding-bottom: 30px;
}
/*.iconoAbajo{
  font-size: 50px;
}*/
.btnOcultar, .ListadoBtn {
  margin-bottom: 10px;
  color: rgb(61, 163, 239);
  background-image: none;
  background-color: transparent;
  border-color: rgb(61,163, 239);
}
.btnOcultar:hover, .ListadoBtn:hover {
  background-color: rgb(61,163, 239);
  border-color: rgb(61,163, 239);
}

/*.ListadoBtn {
  color: rgb(61, 163, 239);
  background-image: none;
  background-color: transparent;
  border-color: rgb(61,163, 239);
}*/

.elementoPP{
  background-color: rgb(71,14,14);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.elementoPP:hover{
  cursor: pointer;
  -webkit-transform: scale(1, 2);
  -ms-transform:scale(2, 1);
  transform: scale(1.2, 1.3);
  transition-duration: 0.3s;
  -webkit-transition-duration:0.3s;
  box-shadow: 3px 3px 10px black;
  z-index: 1;
  
}

.descripcionPartesLibreria {
  padding: 10px 5px;
  text-align: justify;
  height: 300px;
  color: white;
  /*background-color: rgba(61,163,239, 0.1);*/
}
.col-xs-12 .descripcionPartesLibreria {
  height: auto;
}

/* Fin introduccion a prácticas*/

/******************************************** Fin Página Prácticas**********************************************************************************/



/*************************************************** Página roles ************************************************************************/

/****************** introducción ************************/
.intro {  
  padding-top: 70px;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 80%;
  color: white;
}
.introParrafo{
color: white;
}
/*********** Fin de introducción ************************/

/********************** Menú lateral ********************/

.containerR {
    max-width: 1349px;
    max-height: all;
}
.menuL {
  padding-left: 30px; 
  margin-bottom: 20px;
  padding-right: 30px;
  background-color: rgb(4,34,61);
  /*ba(0,0,0, 0.7);
  background-color: rgb(4,34,61);*/
  height: 1000px;
}
.menuL a {
  text-decoration: none;
  padding-right: 15px;
  color: white;
}
.listaLateral {
  padding-top: 5px;
}
.divider {
  padding-top: 3px;
  border-bottom: 2px solid rgb(63, 244, 254);
  width: 250px;
}
.mlGest-neg {
  margin-right: 70px;
}
.mlDes-Sw {
  margin-right: 70px;
}
/********************** Fin de Menú lateral ********************/

/********************* Areas Diagrama ************************/

.contenidoRoles {
  padding: 5px 0;
  background-color: rgba(0,0,0,.3); 
  /*background-color: rgba(4,38,61,5.0); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}
.contenidoRoles button {
  position: relative;
  /*padding: 0 5px;*/
  margin: 0 5px;
  font-size: 1.2em;
  font-weight: 600;
  color: #595959;
  text-decoration: none;
  line-height: 1.5;
}
.contenidoRoles button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #595959;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.contenidoRoles button.active {
  color: black;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
.contenidoRoles button.active:before {
  width: 100%;
}
.apartadoAreas{
  margin-bottom: 10px;
}
.filter-button{
    /*color: rgb(255,255,255);
    border: transparent;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;    
    -webkit-transition: all 350ms;
    transition: all 350ms;
    background-color: inherit; */
}
.filter-button:hover
{
    font-size: 30px;
    border-bottom: 2px solid black;
    text-align: center;
    color: #595959;
}
.btn-default:active .filter-button:active{
    background-color: #42B32F;
    color: white;
}
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.project {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 20px);
          flex: 1 0 calc(100% - 20px);
  margin: 10px;
}
.project:hover .project-info {
  background: rgba(89, 89, 89, 0.7);
}
@media (min-width: 520px) {
  .project {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / 2) - 20px);
            flex: 0 0 calc((100% / 2) - 20px);
  }
}
@media (min-width: 860px) {
  .project {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / 3) - 20px);
            flex: 0 0 calc((100% / 3) - 20px);
  }
}

.project-image img {
  display: block;
  width: 100%;
  height: 300px;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  color: #f6f6f6;
  background: rgba(89, 89, 89, 0.8);
  opacity: 0;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}
.project-info:hover {
  opacity: 1;
}
@media (max-width: 520px) {
  .project-info {
    opacity: .8;
  }
}

.project-info-title {
  margin: 0 0 .5em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.project-info-button {
  padding: .3em .8em;
  color: inherit;
  text-decoration: none;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
.project-info-button:hover {
  color: #595959;
  background: #f6f6f6;
  border-color: #f6f6f6;
}



#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}

/******************** Fin Areas diagrama ************************************/













.clase-de-prueba{
  max-width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.navL-Title {
  padding-top: 5px;
  text-align: center;
  color: white;
}

.nav-header {
  padding-top: 5px;
  font-size: 1.3em;
  color: rgb(180, 116, 67);
}
.project-info-title {
  text-align: center;
  
}
.container {
    max-width: 1349px;
    margin-top: 100px;
    max-height: all;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/*bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb*/

/*estilo tablas de especificación de los roles */
.descripcionAreaEsp {
  padding: 20px;
  padding-top: 10px;
  color: white;
  text-align: justify;
}
.descripcionAreaEsp h5{
  text-align: center;
}

.card-img-top{
  width: 100%;
  height: 200px;
}
.card-text{
  height: 120px;
  text-align: justify;
}
.card-title {
  text-align: center;
  height: 70px;
}

/*bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb*/



/**************************** Sección niveles de madurez (Página prácticas) *********************/

.niveles {
  padding: 20px;
  padding-bottom: 50px;
}
.tituloSeccionNiveles{
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}

/***********estilo diagrama niveles*******/

.niveles .diagramaNiveles{
  padding: 40px 5px;
  /*background-color: rgba(255,255,255, 0.1);*/
  height: 320px;
}
.seccionDiagrama {
  margin-top: 10px;
}
.niveles .row .card {
  width: 100%;
  height: auto;
  align-content: right;
}

.realizado-amarillo {
  display: inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding: 10px 3px;
  font-family: 'Philosopher', sans-serif;
  line-height: 8px;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  background: #FCFC7D;
  outline: none;
  border-radius: 15px;
  border: 1px solid #F6F62C;
  box-shadow:
    inset 3px 1px 1px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #E2E22E, /* inner glow */
    inset 0 80px 80px -40px #DDDD05, /*  */
    5px 1px 3px rgba(0,0,0,0.75); /* sombreado */
    
  position: relative;
  overflow: visible; /* IE9 & 10 */
  -webkit-transition: 500ms linear;
     -moz-transition: 500ms linear;
       -o-transition: 500ms linear;
          transition: 500ms linear;
}

.realizado-amarillo:hover {
  background: #FBFB02;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #E9E902, /* inner glow */
    inset 0 80px 80px -40px #F6FA03, /* gradient */
    1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    
}
.realizado-amarillo:focus {
  outline: none; /*FF*/
}
.realizado-amarillo:active {
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #E9E90F, /* inner glow */
    inset 0 80px 80px -40px #DCDC18, /* gradient */
    0px 1px 0px rgba(255,255,255,0.25); /* shadow */
    
  -webkit-transition: 50ms linear;
     -moz-transition: 50ms linear;
       -o-transition: 50ms linear;
          transition: 50ms linear;
}

.gestionado-azul {
  display: inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding: 10px 3px;
 font-family: 'Philosopher', sans-serif;
  line-height: 8px;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  background: #1E3EA0;
  outline: none;
  border-radius: 15px;
  border: 1px solid #455DA7;
  box-shadow:
    inset 3px 1px 1px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #2D54CF, /* inner glow */
    inset 0 80px 80px -40px #1D50F1, /*  */
    5px 1px 3px rgba(0,0,0,0.75); /* sombreado */
    
  position: relative;
  overflow: visible; /* IE9 & 10 */
  -webkit-transition: 500ms linear;
     -moz-transition: 500ms linear;
       -o-transition: 500ms linear;
          transition: 500ms linear;
}

.gestionado-azul:hover {
  background: #1D50F1;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #2D54CF, /* inner glow */
    inset 0 80px 80px -40px #455DA7, /* gradient */
    1px 1px 3px rgba(0,0,0,0.75); /* shadow */
}
.gestionado-azul:focus {
  outline: none; /*FF*/
}
.gestionado-azul:active {
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #2CDAC0, /* inner glow */
    inset 0 80px 80px -40px #1D50F1, /* gradient */
    0px 1px 0px rgba(255,255,255,0.25); /* shadow */
    
  -webkit-transition: 50ms linear;
     -moz-transition: 50ms linear;
       -o-transition: 50ms linear;
          transition: 50ms linear;
}

.establecido-verde {
  display: inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding: 10px 3px;
  font-family: 'Philosopher', sans-serif;
  line-height: 8px;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  background: #275E0C;
  outline: none;
  border-radius: 15px;
  border: 1px solid #0E4C00;
  box-shadow:
    inset 3px 1px 1px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #30A227, /* inner glow */
    inset 0 80px 80px -40px #23AC23, /*  */
    5px 1px 3px rgba(0,0,0,0.75); /* sombreado */
    
  position: relative;
  overflow: visible; /* IE9 & 10 */
  -webkit-transition: 500ms linear;
     -moz-transition: 500ms linear;
       -o-transition: 500ms linear;
          transition: 500ms linear;
}


.establecido-verde:hover {
  background: #1EA615;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #4CDA2C, /* inner glow */
    inset 0 80px 80px -40px #40DD30, /* gradient */
    1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    
}
.establecido-verde:focus {
  outline: none; /*FF*/
}
.establecido-verde:active {
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #16850A, /* inner glow */
    inset 0 80px 80px -40px #16850A, /* gradient */
    0px 1px 0px rgba(255,255,255,0.25); /* shadow */
    
  -webkit-transition: 50ms linear;
     -moz-transition: 50ms linear;
       -o-transition: 50ms linear;
          transition: 50ms linear;
}

.predecible-rosa {
  display: inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding: 10px 3px;
  font-family: 'Philosopher', sans-serif;
  line-height: 8px;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  background: #5E0C33;
  outline: none;
  border-radius: 15px;
  border: 1px solid #4C001F;
  box-shadow:
    inset 3px 1px 1px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #A22759, /* inner glow */
    inset 0 80px 80px -40px #AC2355, /*  */
    5px 1px 3px rgba(0,0,0,0.75); /* sombreado */
    
  position: relative;
  overflow: visible; /* IE9 & 10 */
  -webkit-transition: 500ms linear;
     -moz-transition: 500ms linear;
       -o-transition: 500ms linear;
          transition: 500ms linear;
}
.predecible-rosa:hover {
  background: #A6154C;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #DA2C6E, /* inner glow */
    inset 0 80px 80px -40px #DD3079, /* gradient */
    1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    
}
.predecible-rosa:focus {
  outline: none; /*FF*/
}
.predecible-rosa:active {
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #DA2C71, /* inner glow */
    inset 0 80px 80px -40px #A90244, /* gradient */
    0px 1px 0px rgba(255,255,255,0.25); /* shadow */
    
  -webkit-transition: 50ms linear;
     -moz-transition: 50ms linear;
       -o-transition: 50ms linear;
          transition: 50ms linear;
}

.optimizado-transparente {
  display: inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  padding: 10px 3px;
  font-family: 'Philosopher', sans-serif;
  line-height: 8px;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  background: #D8DBDA;
  outline: none;
  border-radius: 15px;
  border: 1px solid #D3E0DC;
  box-shadow:
    inset 3px 1px 1px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #E4E9E8, /* inner glow */
    inset 0 80px 80px -40px #E6F2F0, /*  */
    5px 1px 3px rgba(0,0,0,0.75); /* sombreado */
    
  position: relative;
  overflow: visible; /* IE9 & 10 */
  -webkit-transition: 500ms linear;
     -moz-transition: 500ms linear;
       -o-transition: 500ms linear;
          transition: 500ms linear;
}
.optimizado-transparente:hover {
  background: #E5E8E8;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #F1F9F9, /* inner glow */
    inset 0 80px 80px -40px #E6EAEA, /* gradient */
    1px 1px 3px rgba(0,0,0,0.75); /* shadow */
    
}
.optimizado-transparente:focus {
  outline: none; /*FF*/
}
.optimizado-transparente:active {
  box-shadow:
    inset 1px 1px 0px rgba(255,255,255,0.25), /* highlight */
    inset 0 0 6px #F1F9F9, /* inner glow */
    inset 0 80px 80px -40px #CBCCCC, /* gradient */
    0px 1px 0px rgba(255,255,255,0.25); /* shadow */
    
  -webkit-transition: 50ms linear;
     -moz-transition: 50ms linear;
       -o-transition: 50ms linear;
          transition: 50ms linear;
}

.btnNivel{
   width: 200px;
   height: 50px;
   font-size: 30px;
}
.btnNivel:hover {
  width: 220px;
  height: 70px;
  font-size: 40px;
  padding-bottom: 15px;
}

/********Descripcion del diagrama******/
.tablaPracticas {
  height: 330px;
}
.botonPracticas{
  align-content: center;
}


/*********************************************************** Página prácticas **********************************************/



/*estilo de la tabla contenedora de listado de prácticas*/
.numPractica {
  width: 10.5%;
}

.nombrePractica {
  width: 52%;
}
tr {
width: 100%;
display: inline-table;
}

table{
 height:320px; 
}
tbody{
  overflow-y: scroll;
  height: 270px;
  width: 94%;
  position: absolute;
}
/* fin estilo de la tabla contenedora de listado de prácticas*/


/* estilo de despliegue de prácticas */

.portlet {
    background: #fff;
    padding: 20px;
}
.caption.caption-red .caption-subject {
    color: #e26a6a;
    font-weight: 200px;
}

.caption-subject {
    color: #666;
    font-size: 20px;
    font-weight: 100%;
}
.titulo-pestaña {
  margin-right: 20px;
}

.seleccionDePractica{
  background-color: rgba(255,255,255, 0.1);
  color: white;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.seleccionDePractica h5, p{
  color: black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}



/*página de regisgtro de nueva práctica*/
.formulario legend{
  color: white;
}
.pestañas-principales-registro {
  margin: 100px;
  text-decoration: none;
}
.grupo-principal-registro{
  color: white;
}
.pst-reg{
  padding-bottom: 10px;
}
.tabla-regPra {
  color: white;
}
.titulo-reg{
  margin: 20px;
}
.titulo-pestaña-registro {
  padding-left: 50px;
}
.form-primera-parte{
  color: white;
}

/* /página de regisgtro de nueva práctica*/


/* Página conocenos */
.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*=============== integrantes ===============*/

.integrantes {
  text-align: center;
  padding: 10px;
  background: #f0f5f6;
}

.integrantes h2 {
    font-weight: normal;
}

.integrantes .integrantes-common {
  background-color: #fff;
}
.integrantes .integrantes-common figure {
  overflow: hidden;
  width: 100%;
  height: 196px;
}

.integrantes img {
  width: 100%;
  height: auto;
  margin-top: -6em;
}

.integrantes .integrantes-common h5 {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}
.integrantes .integrantes-common .for-border {
  margin-bottom: 20px;
}
.integrantes .integrantes-common .text-content {
  padding: 19px 14px 13px;
}
.integrantes.doctors-var-two {
  text-align: left;
  background-color: #fff;
}
.integrantes.doctors-var-two .slogan-section {
  text-align: left;
}
.integrantes.doctors-var-two .integrantes-common {
  background-color: transparent;
}
.integrantes.doctors-var-two .integrantes-common .for-border {
  display: none;
}
.integrantes.doctors-var-two .integrantes-common .text-content {
  padding: 20px 0 20px;
}
.integrantes.doctors-var-two .text-center {
  text-align: left;
}

.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}

.integrantes .integrantes-common h5 small {
  color: #008fd5;
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
}

.integrantes .integrantes-common ul{
  position: relative;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -28px;
  text-align: center;
  margin-top: 10em;
  opacity: 0;
  z-index: 1;
}

.integrantes .integrantes-common li a {
  background: #008fd5;
  color: white;
  padding: 0.75em;
  border: 5px solid rgba(255, 255, 255, 0.33);
}

.datos-integrantes{
  padding-top: 0;

}

.doc-img{
   /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
   /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

.doc-item:hover .social-lists{
  margin-top: -1em;
  opacity: 1;
}

/* /Página conocenos */

/*=============== //Home-team ===============*/
/**************formulrio 2**********/

 .ng-invalid.ng-dirty{
    border-color: red;
  }
  .ng-valid.ng-dirty{
    border-color: green;
  }
  /*********formuluario 2******/
































































/* Página de conocenos sección objetivos y estrategias*/

.integrantess{
  margin-top: 50px;
}





.containerConocenos{
    max-width: 1349px;
    margin-top: -65px;
    max-height: all;
}
  
.services {
  background-color: rgb(66,11,11);
  padding-bottom: 350px;
  margin-bottom: 50px
}

.service-container {
  position: relative;
  max-width: 1190px;
  margin: 0 auto;
  opacity: 0;
}

.sc1 {
  animation: triangle-slide-in 1.5s ease forwards;
}

.sc2 {
  animation: triangle-slide-in 1.5s ease forwards 3s;
}

.sc3 {
  animation: triangle-slide-in 1.5s ease forwards 6s;
}

.sc4 {
  animation: triangle-slide-in 1.5s ease forwards 9s;
  margin-bottom: 50px;
}
.sc6 {
  animation: triangle-slide-in 1.5s ease forwards 12s;
  margin-bottom: 50px;
}

.service-icons {
  position: absolute;
  width: 600px;
  top: -50px;
  left: -400px;
}

.h1-estrategia, .h1-marketing, .h1-alcances, .h1-oportunidades, .h1-objetivo, .h1-dev {
  position: relative;
  top: 200px;
  left: 120px;
  font-family: 
  font-weight: 300;
  font-size: 33px;
  text-transform: uppercase;
  color: white;
}

.p-estrategia, .p-marketing, .p-alcances, .p-oportunidades, .p-objetivo, .p-dev {
  position: relative;
  top: 200px;
  left: 210px;
  padding-right: 200px;
  font-family: 
  font-weight: 300;
  font-size: 18px;
  color: white;
}

.svg-estrategia,.svg-objetivo, .svg-marketing, .svg-alcances, .svg-oportunidades, .svg-dev {
  position: absolute;
  z-index: 10;
  transform-origin: 50% 50%;
  top: 285px;
  left: 415px;
}

.diamond-narrow {
  width: 0;
  height: 0;
  border: 500px solid transparent;
  border-bottom: 751px solid #ffffff;
  position: absolute;
  padding-right: 7px;
  left: -500px;
  top: -950px;
  opacity: 0.7;
  z-index: 0;
}
.diamond-narrow:after {
  content: '';
  position: absolute;
  left: -500px;
  top: 750px;
  width: 0;
  height: 0;
  border: 500px solid transparent;
  border-top: 750px solid #ffffff;
  z-index: 0;

}

.arrow-right {
  position: absolute;
  z-index: 1;
  width: 62px;
  height: 184px;
  top: 209px;
  left: 439px;
}

.ar1 {
  stroke-dasharray: 260;
  stroke-dashoffset: 280;
  animation: dash 1s linear forwards 1s;
}

.ar2 {
  stroke-dasharray: 260;
  stroke-dashoffset: 280;
  animation: dash 1s linear forwards 4s;
}

.ar3 {
  stroke-dasharray: 260;
  stroke-dashoffset: 280;
  animation: dash 1s linear forwards 7s;
}

.ar4 {
  stroke-dasharray: 260;
  stroke-dashoffset: 280;
  animation: dash 1s linear forwards 10s;
}

.ar5 {
  stroke-dasharray: 260;
  stroke-dashoffset: 280;
  animation: dash 1s linear forwards 13s;
}

.ar6 {
  stroke-dasharray: 260;
  stroke-dashoffset: 280;
  animation: dash 1s linear forwards 16s;
}

@keyframes triangle-slide-in {
  from {
    opacity: 0;
    transform: translate(-1000px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.estrategia-path2 {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: dash 0.5s linear forwards 1.5s;
}

.estrategia-path3 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: dash 0.5s linear forwards 1.5s;
}

.estrategia-path4 {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: dash 0.5s linear forwards 1.5s;
}

.estrategia-path1 {
  stroke-dasharray: 50;
  stroke-dashoffset: -50;
  animation: dash 0.5s linear forwards 2s;
}

.estrategia-path5 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash 0.5s linear forwards 2.5s;
}

.ma-path1 {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 1s linear forwards 4.5s;
}

.ma-path2 {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear forwards 5s;
}

.ma-path3 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 0.5s linear forwards 5.5s;
}

.alcances-path1 {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 1s linear forwards 8s;
}

.oportunidades-path1 {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 1s linear forwards 10.5s;
}

.oportunidades-path2 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash 0.5s linear forwards 11s;
}

.scc-path1 {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 1s linear forwards 13.5s;
}

.scc-path2 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash 0.5s linear forwards 14s;
}

.objetivo-path1 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: dash 0.8s linear forwards 16.5s;
}

.objetivo-path5 {
  stroke-dasharray: 20;
  stroke-dashoffset: -20;
  animation: dash 0.5s linear forwards 16.9s;
}

.objetivo-path2 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: dash 0.8s linear forwards 17.3s;
}

.objetivo-path4 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash 0.5s linear forwards 17.7s;
}

.objetivo-path3 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: dash 0.8s linear forwards 18.1s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes wp-dash {
  to {
    stroke-dashoffset: 0;
  }
}



/*creadores*/
.panel-heading {
    padding: 10px 15px;
    background-color: #353535;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 0%;
    cursor:pointer;
    opacity:0.8;
    color:white;
    border:none;
}

.panel-body {
    padding: 60px 4% 5% 7%;
}

.box {
    padding:2%;
    border:1px #ddd solid;
    cursor:pointer;
}


.remove-decoration {
    text-decoration:none !important;
    color:#333;
    font-size:12px;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
#IdFooter .social-network a.icoRss:hover {
  background-color: #F56505;
}
#IdFooter .social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
#IdFooter .social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
#IdFooter .social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
#IdFooter .social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
#IdFooter .social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
#IdFooter .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
#IdFooter .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
#IdFooter a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

#IdFooter .social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 35px;
  height: 35px;
  font-size:18px;
}
#IdFooter .social-circle li i {
  margin:0;
  line-height:38px;
  text-align: center;
}

#IdFooter .social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#IdFooter .social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

#IdFooter a {
 background-color: #D3D3D3;   
}



.crea{
  padding-top: 70px;
  align-content: center;
  padding-left: 95px;
  padding-right: 70px;
}

